<div class="container-fluid">
  <div class="col-md-5" style="right: auto;">
    <figure>
      <img class="img-rounded pull-right" src="assets/staff/khrys 1.jpg" height="125px" width="200px">
    </figure>
  </div>
  <div class="col-md-7">
    <h3 id="title-1">Khrystian</h3>
    <p>Spanish - I'm a music lover, food lover who just wants to share what I know about this amazing city with you all.</p>
  </div>
</div>


<div class="container-fluid">
      <div class="col-md-7">
        <h3 id="title-2" style="text-align: right;">Luli</h3>
        <p style="text-align: right;">Argentinian - I really believe in travelling as a way of living and if it's possible take Fabrizzio with you :-)</p>
      </div>
      <div class="col-md-5">
        <figure>
          <img class="img-rounded" src="assets/staff/luli 1.jpg" height="125px" width="200px" >
        </figure>
      </div>
</div>



<div class="container-fluid">
  <div class="col-md-5">
    <figure style="padding-top: 10px;">
      <img class="img-rounded pull-right" src="assets/staff/ernesto.jpg" height="130px" width="200px">
    </figure>
  </div>
  <div class="col-md-7">
    <h3 id="title-3">Ernesto</h3>
    <p>Argentinian - I took Fabrizzio on his first journeys around the world. Travelling is a lifestyle for me but Barcelona is my home and I hope to share with you why I love it.</p>
  </div>
</div>



<div class="container-fluid">
  <div class="col-md-7">
    <h3 id="title-2" style="text-align: right;">David</h3>
    <p style="text-align: right;">Puerto Rican - Originally from New York City, I have lived and worked in Barcelona for 3 years and enjoy meeting new people to show them why I moved to this city.</p>
  </div>
  <div class="col-md-5">
    <figure style="padding-top: 15px;">
      <img class="img-rounded" src="assets/staff/davefabri-web 1.jpg" height="125px" width="200px">
    </figure>
  </div>
</div>



<div class="container-fluid">
      <div class="col-md-5">
        <figure>
         <img class="img-rounded pull-right" src="assets/staff/marta.JPG" height="125px" width="200px" >
       </figure>
      </div>
      <div class="col-md-7">
        <h3 id="title-1">Marta</h3>
        <p>Spanish - Illustrator by trade, and adventurer at heart.</p>
      </div>
</div>
