<section id="directions">
  <div class="col-lg-12 text-center" id="how_to_get_here">
    <h2 class="section-heading">How to Find Us!</h2>
    <hr class="primary">
    <br>
    <div class="container-fluid">
      <div class="row">

        <br>
        <div class="col-lg-4 text-center">
          <h4><u>From the Bus Station <b>ESTACIO NORD</b></u></h4>
          <br>
          <p>1. Fabrizzio’s Petit is 15 minutes walking far from this station so it is easy to walk<p>

            <p>2. Take the red line (L1) from Arc de Triomf in the direction of Hospital de Bellvitage until Urquinaona. Change onto the yellow line (L4) and head in the direction of Trinitat Nova until Girona. When you get out of the metro, we are 1 block away on Carrer de Bruc 65 just round the corner.</p>

            <p>3. Taxi from this station would be around 8 euros.</p>
          </div>
          <div class="col-lg-4 text-center">
            <h4><u>From the airport <b>EL PRAT</b></u><h4> <br>

              <p>1. From the airport <b>TERMINAL</b> 2 you can take the <b>TRAIN RENFE R2</b> straight to the hostel. Buy the    ticket T10 (9,95€ / 10 rides on bus, metro or train into the city) on the machines, take the train and go out once it arrives to <b>PASSEIG DE GRACIA</b> station. The hostel is located 3 blocks far from this station on Carrer del Bruc 65, which is about a 3 minutes walk.</p>

              <p>2. If your flight arrives to <b>TERMINAL T1</b> you have a free shuttle bus that brings you to <b>TERMINAL T2</b></p>
              <br>

              <p>3. You have also the choice to take the <b>AEROBUS</b> from any terminal that costs 6,5 euros or a <b>TAXI</b> that would be around 30 euros.</p>
              <br>

              <p>4. <b>If you flight arrives after 11pm</b> you have the night buses <b>N16/N17</b> every 30 minutes that brings you to <b>PLAZA CATALUNYA</b> just 5 block far from Fabrizzio’s Petit</p>
              <p><em>(We recommend the option 1 because is the cheapest one and also arrives just 2 block far from Farbzzio’s Petit)</em></p>
            </div>

            <div class="col-lg-4 text_center">
              <h4><u>From <b>SANTS TRAIN STATION</b></u></h4>
              <br>
              <p>Take the green line (L3) in the direction of Canyelles until Passeig de Gracia. The hostel is located 3 blocks from this station on Carrer del Bruc 65, which is about a 3 minutes walk.
                <br><em>(If you come other way  do not hesitate to ask and we will explain you the best way to arrive)</em></p>
                <br>
                <p><b>(Note: When taking the metro please be careful of your belongings. We also recommend the T10 pass which will you save money on your metro journeys in Barcelona)</b></p>
                <br>
              </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
              <i class="fa fa-phone fa-3x wow bounceIn"></i>
              <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
              <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              <p><a href="mailto:your-email@your-domain.com">FABRIZZIOBCN@OUTLOOK.COM</a></p>
            </div>
          </div>
          <%=render 'map' %>
        </div>
      </div>
    </div>
  </section>
