<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4><strong>Fabrizzio's Petit</strong>
        </h4>
        <p>Carrer del Bruc 65, 2º, 2ª, 08009 <br>Barcelona, Spain</p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">FABRIZZIOBCN@OUTLOOK.COM</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://www.facebook.com/fabrizziospetit"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/fabrizziospetit/"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://www.tripadvisor.com/Hotel_Review-g187497-d3653226-Reviews-Fabrizzio_s_Petit-Barcelona_Catalonia.html"><i class="fa fa-tripadvisor fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Your Home Away From Home</p>
      </div>
    </div>
  </div>
</section>
