<section class="no-padding" id="rooms">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/1floor_4bed_main1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Four Bed Rooms
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/1floor_8bed_main1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Eight Bed Rooms
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/1floor_twin_main1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Double Twin Rooms
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/2floor_6bed_main1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Six Bed Room
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/zonas_main1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              The Hostel
                          </div>
                            <div class="project-category text-faded">
                              <i class="fa fa-wifi" aria-hidden="true" ></i>
                              <i class="fa fa-medkit" aria-hidden="true"></i>
                              <i class="fa fa-television" aria-hidden="true"></i>
                              <i class="fa fa-lock" aria-hidden="true"></i>
                              <i class="fa fa-map" aria-hidden="true"></i>
                              <i class="fa fa-desktop" aria-hidden="true"></i>
                              <i class="fa fa-coffee" aria-hidden="true"></i>
                              <i class="fa fa-phone" aria-hidden="true"></i>


                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/3bed_main1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Three Bed Rooms
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/doble-deluxe-8web copy.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Double Deluxe
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                                <i class="fa fa-television" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/doble ensuite web copy.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Double Ensuite
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                                <i class="fa fa-television" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="assets/doble-new-2-web copy.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                          <div class="project-name">
                              Double
                          </div>
                            <div class="project-category text-faded">
                                <i class="fa fa-wifi" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
