
<div class="callout" id="sec3">
  <div class="vert">
    <div class="col-md-12 text-center"><h2 style="margin-top: 0px;">The Fabrizzio Family</h2></div>
    <div class="col-md-12 text-center">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2">


        <%= render 'bios' %>

    </div>
  </div>
</div>
