<section id="sec3">
  <div class="callout">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fabrizzio Family</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-responsive" id="meetstaff_pic" src="assets/staff/khrys 1.jpg">
                    <h3>Khrystian</h3>
                    <p class="text-muted">Spanish - I'm a music lover, food lover who just wants to share what I know about this amazing city with you all.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-responsive" id="meetstaff_pic" src="assets/staff/luli 1.jpg">
                    <h3>Luli</h3>
                    <p class="text-muted">Argentinian - I really believe in travelling as a way of living and if it's possible take Fabrizzio with you :-)</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-responsive" id="meetstaff_pic" src="assets/staff/ernesto.jpg">
                    <h3>Ernesto</h3>
                    <p class="text-muted">Argentinian - I took Fabrizzio on his first journeys around the world. Travelling is a lifestyle for me but Barcelona is my home and I hope to share with you why I love it.</p>
                </div>
            </div>
            <div class="col-lg-4 col-lg-offset-2 col-md-6 text-center">
                <div class="service-boxr">
                    <img class="img-responsive" id="meetstaff_pic" src="assets/staff/davefabri-web 1.jpg">
                    <h3>David</h3>
                    <p class="text-muted">Puerto Rican - Originally from New York City, I have lived and worked in Barcelona for 3 years and enjoy meeting new people to show them why I moved to this city.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-responsive" id="meetstaff_pic" src="assets/staff/marta.JPG">
                    <h3>Marta</h3>
                    <p class="text-muted">Spanish - Illustrator by trade, and adventurer at heart.</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
