
<div class="callout" id="sec3">
  <div class="col-lg-12 text-center" id="how_to_get_here">
    <h2 class="section-heading">The Fabrizzio Family!</h2>
    <div class="container-fluid">
      <div class="row">


        <%= render 'bios' %>

      </div>
    </div>
  </div>
</div>
