<%= render 'nav' %>
<div class=container-fluid>
  <div class="row">
    <h3>The history</h3>
    <p>The history of Fabrizzios goes here</p>
  </div>
</div>
<hr class="style2">

<img src="assets/useful_information_fabrizzios" class="img-responsive" alt="Cinque Terre">
