<%= render 'nav'%>

<div class="container">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <div class="col-xs-12" id="slider">
        <!-- Top part of the slider -->
        <div class="row">
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="assets/double_deluxe/double_deluxe_main.jpg"></div>

                  <div class="item" data-slide-number="1">
                    <img src="assets/double_deluxe/doble-newdeluxe-web1.jpg"></div>

                    <div class="item" data-slide-number="2">
                      <img src="assets/double_deluxe/doble-deluxe-7web.jpg"></div>

                      <div class="item" data-slide-number="3">
                        <img src="assets/double_deluxe/doble-deluxe-6web copy.jpg"></div>

                        <div class="item" data-slide-number="4">
                          <img src="assets/double_deluxe/doble-newdeluxe3web.jpg"></div>


                        </div><!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>

                    <div class="col-sm-4 text-center" id="carousel-text">
                      <h2>Double Deluxe</h2>
                      <hr>
                      <p>Ease right into your own comfortable canopy style double bed, great for a romantic couple's
                        getaway, small family, or just self indulgence for a personal excursion in BCN. Useful
                        accommodation features such as , a small dining area used for discussing your next days of
                        adventures here in Barcelona. This deluxe has natural lighting that comes in from the interior
                        court during the day. As well as easy operating window blinds that help screen out the unwanted
                        light in order to capture the privacy and beauty of this private room. Equipped with a refrigerator,
                        plenty of storage space, and television for those small siesta moments of recharging your
                        batteries in order to continue your exploration around our beautiful city.<p>
                          <a href="https://hotels.cloudbeds.com/reservation/DRlfsd" class="btn btn-default btn-xl">Check Availability</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                  <!-- Bottom switcher of slider -->
                  <ul class="hide-bullets">


                    <li class="col-sm-2">
                      <a class="thumbnail" data-target="#myCarousel" data-slide-to="0" id="carousel-selector-1"><img src="assets/double_deluxe/double_deluxe_main.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                      <a class="thumbnail" data-target="#myCarousel" data-slide-to="1" id="carousel-selector-2"><img src="assets/double_deluxe/doble-newdeluxe-web1.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                      <a class="thumbnail" data-target="#myCarousel" data-slide-to="2" id="carousel-selector-3"><img src="assets/double_deluxe/doble-deluxe-7web.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                      <a class="thumbnail" data-target="#myCarousel" data-slide-to="3" id="carousel-selector-4"><img src="assets/double_deluxe/doble-deluxe-6web copy.jpg"></a>
                    </li>

                    <li class="col-sm-2">
                      <a class="thumbnail" data-target="#myCarousel" data-slide-to="4" id="carousel-selector-5"><img src="assets/double_deluxe/doble-newdeluxe3web.jpg"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <%= render 'footer' %>
