<%= render 'nav'%>

<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="assets/new_double/new_double_main.jpg"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="assets/new_double/doble-new-2-4-web.jpg"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="assets/new_double/doble-new-2-5-web.jpg"></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="assets/new_double/doble-new-2-web.jpg"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="assets/new_double/doble-new2-3-web.jpg"></div>


                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </div>
                            </div>

                            <div class="col-sm-4 text-center" id="carousel-text">
                            <h2>Double</h2>
                            <hr>
                            <p>Our cozy double bed accomodates for all types of travelers, couples or singles looking for a
                              comfortable relaxing private retreat while visiting. This room provides a home away from home.
                              Window view to our interior court yard that permits the natural beautiful bcn sun to enter your
                              room. Equipped with plenty of storage space to hide your luggage while helping you enjoy the city
                              without once focusing on your last days here. Soft cozy lighting throughout the room designed to
                              contribute to your tranquil mood while planning out the rest of your stay. This room will without a
                              doubt contribute to the private relaxing isolation you will need after long days of exploration in the
                              famous charming Barcelona City.<p>
                            </div>
                            <!-- <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <h2>Slider One</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-1">
                                    <h2>Slider Two</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-2">
                                    <h2>Slider Three</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-3">
                                    <h2>Slider Four</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-4">
                                    <h2>Slider Five</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div>

                                <div id="slide-content-5">
                                    <h2>Slider Six</h2>
                                    <p>Lorem Ipsum Dolor</p>
                                    <p class="sub-text">October 24 2014 - <a href="#">Read more</a></p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-0"><img src="assets/new_double/new_double_main.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-1"><img src="assets/new_double/doble-new-2-4-web.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-2"><img src="assets/new_double/doble-new-2-5-web.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><img src="assets/new_double/doble-new-2-web.jpg"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><img src="assets/new_double/doble-new2-3-web.jpg"></a>
                            </li>


                        </ul>
                </div>
        </div>
</div>

<%= render 'footer' %>
