<%= render 'nav'%>

<div class="container">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <div class="col-xs-12" id="slider">
        <!-- Top part of the slider -->
        <div class="row">
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="assets/1floor_4bed/cuatrobblanco_big.jpg"></div>

                  <div class="item" data-slide-number="1">
                    <img src="assets/1floor_4bed/cuatrobblanco7-web.jpg"></div>

                    <div class="item" data-slide-number="2">
                      <img src="assets/1floor_4bed/cuatrobblanco9-web.jpg"></div>

                      <div class="item" data-slide-number="3">
                        <img src="assets/1floor_4bed/cuatrobblanco3-web.jpg"></div>

                        <div class="item" data-slide-number="4">
                          <img src="assets/2floor_4bed/2floor_4bed_main.jpg"></div>

                          <div class="item" data-slide-number="5">
                            <img src="assets/2floor_4bed/CUADRUPLE-2DO-3.jpg"></div>
                          </div><!-- Carousel nav -->
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                          </a>
                        </div>
                      </div>

                      <div class="col-sm-4 text-center" id="carousel-text">
                        <h2>Four Bed Room</h2>
                        <hr>
                        <p>Our 4 bed room is a little quieter, so it’s great for getting to know smaller groups of travellers. It has
                          brilliant lighting from a window leading to our beautiful terrace, where you can enjoy Barcelona’s
                          famous sunshine. Air-con, heating and storage.<p>
                            <a href="https://hotels.cloudbeds.com/reservation/DRlfsd" class="btn btn-default btn-xl">Check Availability</a>
                            <!-- <a href="" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div><!--/Slider-->

                  <div class="row hidden-xs" id="slider-thumbs">
                    <!-- Bottom switcher of slider -->
                    <ul class="hide-bullets">
                      <li class="col-sm-2">
                        <a class="thumbnail" data-target="#myCarousel" data-slide-to="0" id="carousel-selector-0" ><img src="assets/1floor_4bed/cuatrobblanco_big.jpg"></a>
                      </li>

                      <li class="col-sm-2">
                        <a class="thumbnail" data-target="#myCarousel" data-slide-to="1" id="carousel-selector-1"><img src="assets/1floor_4bed/cuatrobblanco7-web.jpg"></a>
                      </li>

                      <li class="col-sm-2">
                        <a class="thumbnail" data-target="#myCarousel" data-slide-to="2" id="carousel-selector-2"><img src="assets/1floor_4bed/cuatrobblanco9-web.jpg"></a>
                      </li>

                      <li class="col-sm-2">
                        <a class="thumbnail" data-target="#myCarousel" data-slide-to="3" id="carousel-selector-3"><img src="assets/1floor_4bed/cuatrobblanco3-web.jpg"></a>
                      </li>

                      <li class="col-sm-2">
                        <a class="thumbnail" data-target="#myCarousel" data-slide-to="4" id="carousel-selector-4"><img src="assets/2floor_4bed/2floor_4bed_main.jpg"></a>
                      </li>

                      <li class="col-sm-2">
                        <a class="thumbnail" data-target="#myCarousel" data-slide-to="5" id="carousel-selector-5"><img src="assets/2floor_4bed/CUADRUPLE-2DO-3.jpg"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <%= render 'footer' %>
