<%= render 'nav'%>

<div class="container">
  <div id="main_area">
    <!-- Slider -->
    <div class="row">
      <div class="col-xs-12" id="slider">
        <!-- Top part of the slider -->
        <div class="row">
          <div class="col-sm-8" id="carousel-bounding-box">
            <div class="carousel slide" id="myCarousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item" data-slide-number="0">
                  <img src="assets/zonas comunes/zonas_main.jpg"></div>

                  <div class="item" data-slide-number="1">
                    <img src="assets/zonas comunes/balcony2.jpg"></div>

                    <div class="item" data-slide-number="2">
                      <img src="assets/zonas comunes/cocina 5.jpg"></div>

                      <div class="item" data-slide-number="3">
                        <img src="assets/zonas comunes/salon1ro2-web.jpg"></div>

                        <div class="item" data-slide-number="4">
                          <img src="assets/zonas comunes/pasillo-2.jpg"></div>
                        </div><!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                          <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                          <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>

                    <div class="col-sm-4 text-center" id="carousel-text">
                      <h2>The Hostel</h2>
                      <hr>
                      <p>Here at Fabrizzio's we aim to provide a family-oriented, community feel for all of our guests.   We are all passionate about traveling, and want to share our love for it and this city with you.  With different activities, great people, and a laid-back atmosphere we hope to be your home away from home.  <p>
                        <a href="https://hotels.cloudbeds.com/reservation/DRlfsd" class="btn btn-default btn-xl">Stay With Us</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div><!--/Slider-->

              <div class="row hidden-xs" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                  <li class="col-sm-2">
                    <a class="thumbnail" data-target="#myCarousel" data-slide-to="0" id="carousel-selector-0"><img src="assets/zonas comunes/zonas_main.jpg"></a>
                  </li>

                  <li class="col-sm-2">
                    <a class="thumbnail" data-target="#myCarousel" data-slide-to="1" id="carousel-selector-1"><img src="assets/zonas comunes/balcony2.jpg"></a>
                  </li>

                  <li class="col-sm-2">
                    <a class="thumbnail" data-target="#myCarousel" data-slide-to="2" id="carousel-selector-2"><img src="assets/zonas comunes/cocina 5.jpg"></a>
                  </li>

                  <li class="col-sm-2">
                    <a class="thumbnail" data-target="#myCarousel" data-slide-to="3" id="carousel-selector-3"><img src="assets/zonas comunes/salon1ro2-web.jpg"></a>
                  </li>

                  <li class="col-sm-2">
                    <a class="thumbnail" data-target="#myCarousel" data-slide-to="4" id="carousel-selector-4"><img src="assets/zonas comunes/pasillo-2.jpg"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <%= render 'static/tracking' %>
          <%= render 'footer' %>
